li {
  margin-bottom: 16px;
}
li:nth-child(1) span {
  background-color: red;
  color: white;
}
li:nth-last-child(1) span {
  background-color: black;
  color: white;
}
li:nth-child(even) {
  margin-left: 16px;
}
.paragraphs p:nth-child(1),
p:nth-child(4) {
  background-color: grey;
}
