@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  background-color: $main-color;
  margin: $unit * 2;

  @include for-medium-up {
    background-color: $second-color;
  }

  @include for-large-up {
    background-color: $third-color;
  }

  @include for-extra-large {
    background-color: $fourth-color;
  }

  @include orientation-land {
    margin: $unit;
  }
}

.container {
  @include orientation-land {
    display: flex;
  }
}
