.box {
  background-color: forestgreen;
  border-radius: 16px;
}
.box2 {
  background-color: darkmagenta;
  border-radius: 50%;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
}
.box4 {
  box-sizing: border-box;
  border: 50px solid transparent;
  border-top-color: brown;
}
.box,
.box2,
.box4 {
  width: 100px;
  height: 50px;
}
.box,
.box2,
.box3,
.box4 {
  margin: 50px;
}
