* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}

.row1 > td:nth-child(odd) {
  background-color: black;
}

.row1 > td:first-child {
  background-color: white;
}

.row2 > td:nth-child(even) {
  background-color: black;
}

.row2 > td:last-child {
  background-color: white;
}

.row3 > td:nth-child(odd) {
  background-color: black;
}

.row3 > td:first-child {
  background-color: white;
}

.row4 > td:nth-child(even) {
  background-color: black;
}

.row4 > td:last-child {
  background-color: white;
}

.row5 > td:nth-child(odd) {
  background-color: black;
}

.row5 > td:first-child {
  background-color: white;
}

.row6 > td:nth-child(even) {
  background-color: black;
}

.row6 > td:last-child {
  background-color: white;
}

.row7 > td:nth-child(odd) {
  background-color: black;
}

.row7 > td:first-child {
  background-color: white;
}

.row8 > td:nth-child(even) {
  background-color: black;
}

.row8 > td:last-child {
  background-color: white;
}

td {
  border: 1px solid black;
}

tr:first-child > td {
  border: none;
}

tr:last-child > td {
  border: none;
}

tr > td:first-child {
  border: none;
}

tr > td:last-child {
  border: none;
}
